langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.24
langchain-google-genai==0.0.7
pydantic==1.10.13


python-dotenv
python-telegram-bot
openai
upstash-vector
jupyter
google-generativeai
tiktoken
PyPDF2
fastapi
uvicorn
